<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
        />
        <title>COMPANY_NAME - Bienvenidos</title>

        <!-- Styleshhets links -->
        <link rel="stylesheet" href="../css/home-page.css">

        <!-- font links -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200;1,500;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <div class="header-logo-container">
                <img src="../assets/svg/sample-svg.svg">
            </div>

            <div class="header-button-containter">
                <button class="intro-btn">INICIO</button>
                <button class="intro-btn">CONTACTO</button>
                <button class="intro-btn">SOBRE NOSOTROS</button>
                <button class="intro-btn">INICIA SESIÓN</button>
                <button class="intro-btn" id="registro-btn">REGISTRATE</button>
            </div>
        </div>

        <div class="main-page-content">
            <div class="main-text-container">
                <span class="big-text">ACELERA TUS CONSULTAS Y REGISTROS</span>
                <p class="normal-text">Con solo habilitar la cámara accede a tus registros previos de pacientes y realiza un diagnóstico preciso.</p>
                <button class="big-btn intro-btn">REGISTRATE</button>
            </div>

            <div class="blob-container">
                <img src="../assets/imgs/computadora-intro.png" alt="" class="compu-img">
                <img src="../assets/svg/gradient-blob.svg" alt="gradient-blob" class="gradient-blob">
            </div>
        </div>

        <div class="center-login-modal" style="display: none;">
            <div class="login-modal">
                <img src="../assets/imgs/grey-user.png" alt="">
                <input type="text" name="" id="">
                <input type="text" name="" id="">
                <button>INICIAR SESIÓN</button>
                <a>Olvidé mi contraseña</a>
            </div>
        </div>

        <div class="body-blur"></div>
    </body>
</html>