<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
        />
        <title>COMPANY_NAME - Registro de Paciente</title>

        <!-- Styleshhets links -->
        <link rel="stylesheet" href="../css/home-page.css">
        <link rel="stylesheet" href="../css/registro-paciente.css">
        <link rel="stylesheet" href="../css/historial-paciente.css">
        <link rel="stylesheet" href="../css/home-page-dr.css">

        <!-- font links -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200;1,500;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <div class="header-logo-container">
                <img src="../assets/imgs/LOGO.png">
            </div>

            <div class="user-info-containter">
                <div class="user-text-container">
                    <span>JUAN CARLOS TREVIÑO</span>
                </div>

                <img src="../assets/imgs/grey-user.png" alt="">
            </div>
        </div>

        <div class="main-page-content">
            <div class="dr-info-container">
                <span class="big-text">Mis datos</span>

                <div class="user-info-containter">
                    <img class="rounded-img" src="../assets/imgs/usr-img-1.png" alt="">

                    <div class="user-text-container">
                        <span class="medium-text">Juan Carlos Treviño</span>
                    </div>
                </div>

                <p class="span-title">Correo</p>
                <p class="span-info">correoprueba@salud.mx</p>

                <p class="span-title">Teléfono celular</p>
                <p class="span-info">893-388-3383</p>


                <p class="span-title">Teléfono local</p>
                <p class="span-info">Hospital San José - Monterrey N.L.</p>

                <p class="span-title">Doctor/a de cabecera</p>
                <p class="span-info">Jaun Lopez.</p>

            </div>

            <div class="search-container">
                <div class="consultas-div hover-div">
                    <img class="icon" src="../assets/imgs/doctor-icon.png" alt="">
                    <div>
                        <p><u>Consultas</u></p>
                        <p>
                            En este apartado podrás revisar un resumen de tus consultas 
                            más recientes y revisar con detalle los datos de estas.
                        </p>
                    </div>
                </div>

                <div class="histortial-div hover-div">
                    <img class="icon" src="../assets/imgs/heart-icon.png" alt="">
                    <div>
                        <p><u>Historial médico</u></p>
                        <p>
                            Podrás consultar los datos médicos del paciente, tales como, 
                            alergias, condiciones médicas, confirmar tus datos de Seguros Médicos 
                            entre otros.
                        </p>
                    </div>
                </div>

                <div class="consultas-div hover-div">
                    <img class="icon" src="../assets/imgs/lock-icon.png" alt="">
                    <div>
                        <p><u>Mi privacidad</u></p>
                        <p>
                            El cuidado de tu información es lo más importante, aquí podrás tener 
                            control de la visibilidad que pueden tener tus datos en la plataforma.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>