<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
        />
        <title>COMPANY_NAME - Información Paciente</title>

        <!-- Styleshhets links -->
        <link rel="stylesheet" href="../css/home-page.css">
        <link rel="stylesheet" href="../css/registro-paciente.css">
        <link rel="stylesheet" href="../css/informacion-paciente.css">
        <link rel="stylesheet" href="../css/home-page-dr.css">

        <!-- font links -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200;1,500;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <div class="header-logo-container">
                <img src="../assets/imgs/LOGO.png">
            </div>

            <div class="user-info-containter">
                <div class="user-text-container">
                    <span>DRA.SANDRA GONZÁLEZ</span>
                    <span>CED. PROF. 673648</span>
                </div>

                <img src="../assets/imgs/grey-user.png" alt="">
            </div>
        </div>

        <div class="main-page-content">
            <div class="patient-contact-container">
                <img class="rounded-img-2" src="../assets/imgs/usr-img-1.png" alt="">

                <span class="span-title" id="contact-title">Contacto</span>

                <span class="span-title">Via E-mail</span>
                <span class="span-info">jtriviño@correo.com</span>

                <span class="span-title">Celular</span>
                <span class="span-info">81-1234-5678</span>

                <span class="span-title">Teléfono</span>
                <span class="span-info">81-1234-4783</span>
            </div>

            <div class="patient-info-container">
                <span class="span-title">Alergias</span>
                <span class="span-info">Penicilina y a los frutos secos</span>

                <span class="span-title">Condiciones medicas</span>
                <span class="span-info">Ninguna</span>

                <span class="span-title">Seguro de gastos médicos</span>
                <span class="span-info">MET LIFE Plan XB235 Poliza: 719NBR94MNS94</span>

                <span class="span-title">Información adicional</span>
                <span class="span-info">Padre padeció infarto cardiaco y familia paterna padece hipertensión. Sangre tipo B+. Donador de órganos</span>

                <button class="intro-btn big-btn">GUARDAR COMO PDF</button>
            </div>
        </div>
    </body>
</html>