<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
        />
        <title>COMPANY_NAME - Registro de Paciente</title>

        <!-- Styleshhets links -->
        <link rel="stylesheet" href="../css/home-page.css">
        <link rel="stylesheet" href="../css/registro-paciente.css">

        <!-- font links -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,200;1,500;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <div class="header-logo-container">
                <img src="../assets/imgs/LOGO.png">
            </div>

            <div class="user-info-containter">
                <div class="user-text-container">
                    <span>DRA.SANDRA GONZÁLEZ</span>
                    <span>CED. PROF. 673648</span>
                </div>

                <img src="../assets/imgs/grey-user.png" alt="">
            </div>
        </div>

        <div class="main-page-content">
            <span class="big-text">Registro de pacientes</span>

            <div class="form-container">
                <span>Nombre completo (como aparece en la identificación)</span>
                <input type="text" placeholder="Nombre">

                <span>Identificación oficial</span>
                <input type="file">

                <span>Comprobante de domicilio</span>
                <input type="file">

                <span>Doctor/a:</span>
                <input type="text" placeholder="Doctor/a">

                <span>Hospital</span>
                <input type="text" placeholder="Hospital">
            </div>

            <button class="intro-btn big-btn">REGISTRAR</button>
        </div>
    </body>
</html>